.fr_bottom {
  display: table;
  width: 100%;
  background-color: $fr_light_gray;
  padding: 20px;
  border-collapse: separate;
}

.fr_bottom_l,
.fr_bottom_r {
  display: table-cell;
}

.fr_bottom_l {
  text-align: left;
}

.fr_bottom_r {
  text-align: right;
}
