$errorColor = #c12f2e

.form_renderer_error_alert_bar
  background-color $errorColor
  color #fff
  padding: 0.5rem
  margin-bottom: 1rem

.form_renderer_main_loading
  text-align center
  font-size 1.4rem
  color #999
  padding 2rem 0

.form_renderer_response_field
  position relative
  margin-bottom 20px
  width 100%
  max-width 450px

  input, select, textarea
    width auto
    max-width 100%
    display inline-block

  select
    min-width 200px

  abbr[title="required"]
    color $errorColor

  .help-block
    display block
    font-size 0.85rem
    margin-top 5px

    p
      margin 0

  > label, .subtemplate-wrapper > label
    display block
    padding-bottom 3px
    margin-bottom 7px

  .fb-option
    margin-bottom 5px
    border-bottom 0
    display block
    font-weight normal

    > label
      font-weight normal

  &.error
    input, textarea
      border 1px solid $errorColor

    .validation-message-wrapper
      color $errorColor

  .min_max
    margin-top 3px
    font-size 0.85rem
    font-style italic

.form_renderer_input_line
  clear both
  margin-bottom 10px

  .above-line
    margin-top 7px

  select
    min-width 0

  > span
    display inline-block
    vertical-align top

    input
      width 100%

    > label
      display block
      font-size 0.9rem
      margin-left 3px

.form_renderer_form
  .response_field_text, .response_field_website
    .rf-size-small
      width 130px

    .rf-size-medium
      width 300px

    .rf-size-large
      width 100%

  .response_field_paragraph
    .rf-size-small
      width 200px
      min-height 60px

    .rf-size-medium
      width 400px
      min-height 100px

    .rf-size-large
      width 100%
      min-height 200px

  .response_field_address
    .street
      width 100%

    .city, .state, .zip, .country
      width 49%

  .response_field_date
    .month, .day, .year
      width 50px

  .response_field_time
    .hours, .minutes, .seconds
      width 50px

    select
      width 60px
      min-width 60px

  .response_field_price
    .dollars, .cents
      width 80px

  .response_field_email
    input
      width 250px

  .response_field_table
    table
      border 1px solid #ccc
      margin-bottom 0
      table-layout fixed

    tbody tr td
      padding 2px

    tfoot tr td
      font-weight normal
      font-size 0.85rem
      padding 0.5rem
      height 2rem

    textarea
      width 100%

  .response_field_file
    .existing
      display none

    &.existing
      .existing
        display block

      .not_existing
        display none

  .section-break-inner
    border-bottom-color #ccc
    border-bottom-style solid
    border-bottom-width 1px
    margin-bottom 1rem

    .section-name
      font-size 1.1rem
      font-weight 600

    p
      font-size 0.9rem
      margin-bottom 0.5rem

    &.section-break-size-medium
      border-bottom-width 2px

      .section-name
        font-size 1.4rem

      p
        font-size 1.1rem

    &.section-break-size-large
      border-bottom-width 3px

      .section-name
        font-size 1.8rem

      p
        font-size 1.4rem

  .block-of-text
    font-size 1rem

    &.block-of-text-size-medium
      font-size 1.4rem

    &.block-of-text-size-large
      font-size 1.8rem

.form_renderer_bottom_bar
  display table
  background-color #eee
  width 100%
  padding 1rem

.form_renderer_bottom_bar_left,
.form_renderer_bottom_bar_right
  display table-cell

.form_renderer_bottom_bar_left
  text-align left

.form_renderer_bottom_bar_right
  text-align right

.formbuilder_form_pages_list
  list-style none
  border-bottom 3px solid #efefef
  margin-bottom 40px
  padding-left 0
  display table
  width 100%
  height 40px

  li
    display table-cell
    text-align center

    a, span
      cursor pointer
      position relative
      display inline-block
      bottom -20px
      color #fff
      width 40px
      height 40px
      text-align center
      line-height 36px
      border-radius 50%
      font-size 16px
      margin-right 20px
      text-decoration none
      border 2px solid #e5e5e5
      text-shadow 0 -1px 0 #999

    span
      background-color #2aa828

    a
      background-color #aaa

      &:hover
        background-color darken(#aaa, 5%)

    &.has_errors
      span
        background-color $errorColor

      a
        background-color lighten($errorColor, 50%)

      a:hover
        background-color lighten($errorColor, 45%)

    &.active span
      background-color #2aa828
