@import "includes";

abbr[title="required"] {
  color: $errorColor;
}

.fr_page {
  line-height: $lineHeight;
  max-width: $maxFieldWidth;
}

.fr_loading {
  color: #999;
  font-size: $fontSize * $ratio;
  padding: $lineHeight 0;
  text-align: center;
}

.fr_error {
  color: $errorColor;
}

.fr_error_alert_bar {
  color: $errorColor;
}

input[type="text"],
select {
  height: $inputHeight;
}

.fr_clear {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  width: 0;
  height: 0;
}

.fr_cf {
  &:before,
  &:after {
    display: table; /* 1 */
    content: " "; /* 2 */
  }
  &:after {
    clear: both;
  }
}

.fr_response_field {
  label {
    display: block;
  }
}

.fr_response_field {
  margin-bottom: $lineHeight;
  &.error {
    input, textarea {
      border: 1px solid $errorColor;
    }
  }
}

.fr_description {
  font-size: $fontSizeSmall;
}

.fr_bottom_bar {
  display: table;
  width: 100%;
  padding: 20px;
  background-color: $lightGray;
}

.fr_bottom_bar_l,
.fr_bottom_bar_r {
  display: table-cell;
}

.fr_bottom_bar_l {
  text-align: left;
}

.fr_bottom_bar_r {
  text-align: right;
}

.fr_input_grid {
  @include cf;
  width: 100%;
  + .fr_input_grid {
    margin-top: $rhythm;
  }
}

.fr_item_auto,
.fr_item_spacer,
.fr_item_full,
.fr_item_half {
  float: left;
}

.fr_item_full,
.fr_item_half {
  input, select, textarea {
    width: 100%;
  }
}

.fr_item_full {
  width: 100%;
}
.fr_item_half {
  width: 47.5%;
  &:first-child {
    margin-right: 5%;
  }
}

@media screen and (min-width: 640px) {
  .lap_fr_item_half {
    width: 47.5%;
    &:first-child {
      margin-right: 5%;
    }
  }
}

.fr_item_spacer {
  margin-top: $lineHeight;
  line-height: $inputHeight;
  padding: 0 $fontSize / 2;
}

.fr_sub_label {
  font-size: $fontSizeSmall;
  color: #888;
}


.fr_response_field_identification {
  > label {
    display: none;
  }

  .fr_item_full {
    margin-bottom: 15px;
  }
}

.fr_response_field_file {
  .existing {
    display: none;
  }
  &.existing {
    .existing {
      display: block;
    }
    .not_existing {
      display: none;
    }
  }
}

.upload_status {
  &.is_error {
    color: $errorColor;
  }
}

.fr_map_wrapper {
  width: 100%;
  height: $lineHeight * 10;
  position: relative;
  border: 1px solid #ddd;
  border-radius: $radius;
}

.fr_map_map {
  width: 100%;
  height: $lineHeight * 9;
  @include border_top_radius($radius);
}

.fr_map_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(#fff,0.4);
  text-align: center;
  padding-top: $lineHeight * 4.5;
  font-size: $fontSize * $ratio;
  color: #666;
  font-weight: normal;
  cursor: pointer;
}

.fr_map_toolbar {
  height: $lineHeight;
  line-height: $lineHeight;
  padding: 0 $rhythm;
  background-color: #eee;
  font-size: $fontSizeSmall;
  @include border_bottom_radius($radius);
  a {
    float: right;
  }
}

.fr_response_field_text {
  input {
    width: 100%;
  }
  .size_small {
    width: 10rem;
  }
  .size_medium {
    width: 20rem;
  }
  .size_large {
    width: 100%;
  }
}


.fr_response_field_email,
.fr_response_field_website {
  input {
    width: 13rem;
  }
}

.fr_response_field_paragraph {
  textarea {
    width: 100%;
  }
  .size_small {
    width: 12rem;
    textarea {
      height: $lineHeight * 3;
    }
  }
  .size_medium {
    width: 24rem;
    textarea {
      height: $lineHeight * 5;
    }
  }
  .size_large {
    width: 100%;
    textarea {
      height: $lineHeight * 8;
    }
  }
}


.fr_response_field_block_of_text,
.fr_response_field_section_break {
  .size_small {
    font-size: $fontSizeSmall;
  }
  .size_medium,
  .size_large {
    line-height: $rhythm * 3;
  }
  .size_medium {
    font-size: $fontSize * $ratio;
  }

  .size_large {
    font-size: $fontSize * $ratio * $ratio;
  }
}

.fr_response_field_section_break {
  .fr_section_name {
    font-weight: bold;
  }
  .size_small {
    .fr_section_name {
      font-size: $fontSize;
    }
  }
}

.fr_other_option {
  label {
    display: inline;
  }
  input[type=text] {
    display: inline;
    width: auto;
  }
}

@import "error_alert_bar";
@import "pagination";
