// Base.css is a minimal stylesheet that provides a decent layout for the
// rendered form, while providing the ability to still "inherit" the styles
// from a host application.

@import "includes";
@import "bottom_status_bar";
@import "error_alert_bar";
@import "pagination";

// Border-box is a must
.fr_form * {
  box-sizing: border-box;
}

// Utilities
.fr_clear {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  width: 0;
  height: 0;
}

.fr_cf {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

// Loading style
.fr_loading {
  color: $mutedColor;
  font-size: $fontSizeLarge;
  padding: $rhythm 0;
  text-align: center;
}

// Basic error styles
abbr[title="required"],
.fr_error {
  color: $errorColor;
}

.fr_response_field.error {
  input, textarea {
    border-color: $errorColor;
  }
}

// Labels display on their own line
.fr_response_field {
  label {
    display: block;
  }
}

// Add vertical rhythm
.fr_response_field {
  margin-bottom: $rhythm;
}

// Add the "grid" for address, date, time, and price fields
.fr_input_grid {
  margin: 0 0 0 (-$gutterWidth);
  font-size: 0;
  width: 100%;

  // A grid item
  > div {
    display: inline-block;
    padding-left: $gutterWidth;
    vertical-align: top;
    font-size: initial;
    position: relative;

    // make room for fr_sub_label
    &.has_sub_label {
      margin-top: $subLabelLineHeight + 0.25em;
    }

    // inputs in grid get 100% width
    input,
    select {
      width: 100%;
    }
  }

  // Style the "sub labels", which are labels for specific grid inputs
  .fr_sub_label {
    line-height: $subLabelLineHeight;
    color: $mutedColor;
    position: absolute;
    top: -$subLabelLineHeight;
    left: $gutterWidth;
  }

  // A piece of content in between grid inputs
  .fr_spacer {
    vertical-align: bottom;
  }

  // Grid item widths
  .fr_full { width: 100%; }
  .fr_half { width: 50%; }

  @media screen and (min-width: 640px) {
    .lap_fr_half { width: 50%; }
  }
}

.fr_response_field_identification {
  // Identification fields are a bit different than the others,
  // so remove the main label...
  > label {
    display: none;
  }

  // And ensure that they stack properly on mobile
  @media screen and (max-width: 639px) {
    .fr_full:first-child {
      margin-bottom: $rhythm;
    }
  }
}

// Style the "map marker" input
.fr_map_wrapper {
  width: 100%;
  height: $mapHeight;
  position: relative;
  .fr_map_map {
    width: 100%;
    height: $mapHeight - $mapToolbarHeight;
  }
  .fr_map_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(255,255,255,0.4);
    text-align: center;
    padding-top: $mapHeight / 2 - $rhythm; // vertically "center" the text
    font-size: $fontSizeLarge;
    cursor: pointer;
  }
  .fr_map_toolbar {
    height: $mapToolbarHeight;
    line-height: $mapToolbarHeight;
    padding: 0 5px;
    background-color: $lightGray;
    font-size: $fontSizeSmall;
    a {
      float: right;
    }
  }
}

// Input sizes

.fr_response_field_text {
  input {
    width: $smallWidth;
    &.size_medium {
      width: $mediumWidth;
    }
    &.size_large {
      width: $largeWidth;
    }
  }
}

.fr_response_field_email,
.fr_response_field_website {
  input {
    width: $smMedWidth;
  }
}

.fr_response_field_paragraph textarea {
  width: $smallWidth;
  height: $smallHeight;
  &.size_medium {
    width: $mediumWidth;
    height: $mediumHeight;
  }
  &.size_large {
    width: $largeWidth;
    height: $largeHeight;
  }
}

.fr_response_field_block_of_text > div {
  &.size_medium {
    font-size: $fontSizeLarge;
  }
  &.size_large {
    font-size: $fontSizeXLarge;
  }
}

.fr_response_field_section_break {
  .fr_section_name {
    font-weight: bold;
  }
  > div {
    p {
      font-size: $fontSizeSmall;
    }
    &.size_medium {
      .fr_section_name {
        font-size: $fontSizeLarge;
      }
      p {
        font-size: $fontSizeNormal;
      }
    }
    &.size_large {
      .fr_section_name {
        font-size: $fontSizeXLarge;
      }
      p {
        font-size: $fontSizeLarge;
      }
    }
  }
}

// Ensure that the "other" option for checkboxes/radios displays properly
.fr_other_option {
  label {
    display: inline;
  }
  input[type=text] {
    display: inline;
    width: auto;
  }
}

// Style for the "remove" column of the table input
.fr_table_col_remove {
  width: 25px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
