$maxFieldWidth: 30rem;
$errorColor: #c12f2e;
$lightGray: #eee;

$font_size: 1rem;
$font_size_small: 0.875rem;
$rhythm: 0.75rem; // Vertical rhythm
$line_height: $rhythm * 2;
$ratio: 1.25; // Ratio for proportional font sizes
$input_height: $rhythm * 3; // Height of inputs

$radius: 3px; // Border radius

@mixin cf() {
  &:before,
  &:after {
    display: table;
    content: ' ';
  }
  &:after {
    clear: both;
  }
}

@mixin border_top_radius($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border_right_radius($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border_bottom_radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border_left_radius($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

